body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}



section {
  margin: 20px 0;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

section h2{
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  color: black;

}
section h2::before{
  content: "";
  display: inline-block;
  width: 40px; 
  height: 6px;
  background-color: #b8040c; 
  margin-right: 10px;
}
